.flagship-color{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  text-decoration: none;
}

.blue-text{
  color:#0E6EB8;
}

.primary-color{
    color: #2ecc71;
}

.primarytext{
  color: #2ecc71;
}

.grey-text{
  color:#777777;
}
.home-text{
  width: 50%;
  padding: 10px;
  text-align: left;
  color:#777777;
  font-size: 70px;
}

.white-text{
  color:#FFFFFF;
}

.red-text{
    color: red;
}

.text-justify{
    text-align: justify;
}

.omit-link-decoration-white{
  text-decoration: none;
  color:#FFFFFF;
}

main{
  padding: 3em 4em 3em 4em;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.button-submit{
  background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;
}

footer{
  margin-bottom: 1em;
}

.paragraph-line-height{
  line-height: 2;
}

#canvas-editor {
  margin-top: 50px;
  margin-left: 50px;
}
.main.container {
  margin-top: 3em;
}
.fixed.menu {
 height: 70px;
  border: none;

}
